button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 30%;
}

.header {
  text-align: center;
  margin-top: 20px;
  font-size: 70px;
  font-family: 'Fugaz One';
  color: red;
  font-weight: bolder;
  font-family: 'Lobster';
  text-shadow: #ddf505 0px 0px, #ddf505 1px 1px, #f80505 2px 2px,
    #f80505 3px 3px, #f80505 4px 4px, #f80505 5px 5px;
}

.game {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 700px;
  margin-top: 20px;
  background: rgb(84, 114, 232);
  background: linear-gradient(
    0deg,
    rgba(84, 114, 232, 1) 0%,
    rgba(20, 18, 161, 1) 100%
  );
}

.game__header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game__button {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-top: 20px;
  font-size: 44px;
  background-color: yellow;
  color: red;
  transition: transfrom 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.fa-play-circle {
  color: red;
}

.game__timer {
  width: 150px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 40px;
  color: white;
}

.game__score {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  color: white;
  background-color: red;
  font-size: 44px;
  border-radius: 50%;
}
